<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>Student Page</title>
    <link rel="stylesheet" th:href="@{/css/Student.css}"/>
  </head>
  <body>
    <h1>Welcome Student Page!</h1>
    <p>Choose which operation do you want to perform:</p>
    <br>
    <br>
    <a href="/allmycourses-page">MY Courses</a>
    <br>
    <br>
    <a href="/Buycourses-page">Buy Courses</a>
    <br>
    <br>
    <a href="#"> My Cart</a>
  </body>
</html>