<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>Data Page</title>
    <link rel="stylesheet" th:href="@{/css/ViewCourses.css}"/>
   <style>
     table, th, td {
       border: 1px solid black;
       text-align: center;
     }
   </style>
  </head>
  <body class="body">
    <table style="width:100%">
    <thead>
      <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Lessons Name</th>
        <th>Course Price</th>
        <th>Course Mentor</th>
        <th>Course Language</th>
      </tr>
      </thead>
        <tr th:each="all:${alllist}" >
        <td th:text="${all.courseID}" ></td>
        <td  th:text="${all.courseName}"></td>
        <td  th:text="${all.coursePrice}"></td>
         <td  th:text="${all.courseMentor}"></td>
        <td  th:text="${all.Lastupdated}"></td>
        <td  th:text="${all.Language}"></td>
      </tr>
    </table>
  </body>
</html>
